:root {
    --principal: #008B8B;
    --secundario: #000080;
    --texto-principal: #eee;
    --text-contraste: #111;
    --bg: #ebebeb;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    font-family: "Calibri", sans-serif;
}

header .principal {
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--principal);
    color: var(--texto-principal);
}

header .titulo {
    font-size: 1em;
}

header .principal * {
    margin: 0;
}

header .logo img {
    height: 80px;
    object-fit: contain;
}

.divisao {
    height: 25px;
    background-color: #008B8B;
    background: linear-gradient(180deg, var(--principal) 55%, #ffffff00 56%, #ffffff00 70%, var(--principal) 71%);
}

main {
    flex-grow: 1;
}

footer {
    background-color: var(--principal);
    color: var(--texto-principal);
    padding: 1vh;
    display: flex;
    justify-content: end;
}

.dropdown {
    gap: 5px;
    z-index: 1;
    display: none;
    padding: 0.2em;
    min-height: 1em;
    width: 90px;
    margin-top: -18px;
    position: absolute;
    flex-direction: column;
    background-color: var(--bg);
    border: 2px solid var(--secundario);
}

.dropdown * {
    text-decoration: none;
    color: var(--secundario);
    font-size: medium;
    padding: 0.2em;
    transition: .2s;
}

.dropdown *:hover {
    font-size: large;
    text-decoration: underline;
}

#navegacao .botao {
    border: 2px solid var(--secundario);
    background-color: var(--bg);
    color: var(--secundario);
    font-size: large;
    padding: .5em;
    text-shadow: none;
    user-select: none;
    transition: .2s;
}

/* style para fazer o dropdown aparecer */
#navegacao:hover .dropdown, /* Quando o mouse estiver em cima do botão de navegação... */
#navegacao:focus .dropdown, /* ...ou quando o botão de navegação estiver em foco (selecionado)... */
#navegacao:focus-within .dropdown, /* ...ou quando o botão de navegação ou algum elemento dentro dele estiver em foco... */
#navegacao:active .dropdown { /* ...ou quando o botão de navegação estiver ativo (clicado), altera o estilo do dropdown */
    border-top: 0px;
    display: flex;
}