main {
    font-family: "Montserrat", sans-serif;
    border: 2px solid #000000;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.titulo1{
    color: #000080;
}

main img {
    float: left;
    width: 350px;
    height: auto;
    margin-right: 15px;
}
.img2{
    float: left;
    width: 350px;
    height: auto;
    margin-right: 15px;
}
.img3{
    float: left;
    width: 350px;
    height: auto;
    margin-right: 15px;
}
