/* Main */


/* Configura a área principal da página */
main {
    display: flex;                 /* Coloca os elementos lado a lado */
    padding: 20px 15px;            /* Define o espaço interno */
    gap: 50px;                     /* Define o espaço entre os elementos */
}


/* Configura a área do texto */
article {
    border: #008B8B 8px solid;     /* Define uma borda de 8px */
    color: #ffffff;                /* Define a cor do texto */
    text-align: justify;            /* Deixa o texto justificado */
    font-family: "calibri", sans-serif; /* Define a fonte */
    background-color: #000080;     /* Define a cor de fundo */
    width: 50%;                    /* Define a largura como 50% */
    padding: 20px 25px;             /* Define o espaço interno */
    box-sizing: border-box;         /* Inclui padding e borda no tamanho */
}


/* Configura os títulos */
article h2 {
    text-align: justify;            /* Deixa o título justificado */
    font-family: "Calibri", sans-serif; /* Define a fonte */
    font-size: 17px;                /* Define o tamanho da fonte */
    margin: 0;                      /* Remove a margem */
}


/* Configura os parágrafos */
article p {
    text-align: justify;            /* Deixa o texto justificado */
    font-family: "MontSerrat", sans-serif; /* Define a fonte */
    font-size: 16px;                /* Define o tamanho da fonte */
    margin: 5px;                    /* Define uma margem de 5px */
}


/* Área das imagens */


/* Configura a seção onde estão as imagens */
section {
    background-color: #008B8B;     /* Define a cor de fundo */
    border: #008B8B 1px solid;     /* Define uma borda de 1px */
    width: 50%;                    /* Define a largura como 50% */
    padding: 20px 25px;             /* Define o espaço interno */
    padding-top: 0px;               /* Remove o espaço interno superior */
}


/* Configura todas as imagens dentro do section */
section img {
    width: 46%;                    /* Define a largura da imagem */
    height: 190px;                 /* Define a altura da imagem */
    margin-top: 5px;                /* Define espaço acima da imagem */
    margin-bottom: 5px;             /* Define espaço abaixo da imagem */
}


/* Primeira imagem */
.m1 {
    padding-top: 0%;               /* Define o espaço interno superior */
    position: absolute;            /* Retira a imagem do fluxo normal da página */
    margin-right: 1%;              /* Define espaço à direita */
}


/* Segunda imagem */
.m2 {
    padding-top: 15%;              /* Define espaço interno superior */
    position: absolute;            /* Retira a imagem do fluxo normal da página */
    margin-right: 1%;              /* Define espaço à direita */
}


/* Terceira imagem */
.m3 {
    padding-top: 30%;              /* Define espaço interno superior */
    position: absolute;            /* Retira a imagem do fluxo normal da página */
    margin-right: 1%;              /* Define espaço à direita */
}


/* Quarta imagem */
.m4 {
    padding-top: 45%;              /* Define espaço interno superior */
    position: absolute;            /* Retira a imagem do fluxo normal da página */
    margin-right: 1%;              /* Define espaço à direita */
}
