* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #e6e6e6;;
  font-family: Calibri, sans-serif;
  line-height: 1.6;
}
.topin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; 
  background-color: #1e1e1e;
  border-bottom: 2px solid #008B8B;}

.logao {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #008B8B;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;

}

nav a {
  color: #a0a0a0;
  text-decoration: none;
  font-size: 15px;

}

.introzada {
  text-align: center;
  padding: 60px 20px 30px;

}

.introzada h1 {
  font-family: 'Montserrat', sans-serif;
  color: #008B8B;
  font-size: 36px;
  margin-bottom: 15px;
}

.introzada p {
  color: #a0a0a0;
  max-width: 600px;
  margin: 0 auto;
}


.faqzada {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px 80px;
}

.cardFaq {
  background-color: #1e1e1e;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 5px 25px;
  transform: scale(1,1);
}

.perguntinha {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #e6e6e6;
  padding: 15px 0;
  list-style: none; 

}


.perguntinha:hover {
  color: #008B8B;
} 

.cardFaq[open] .perguntinha {
  color: #008B8B;
  border-bottom: 1px solid #000080;
  text-decoration-style: wavy;
}

.respostinha {
  color: #a0a0a0;
  padding: 15px 0;
}

.rodapin {
  text-align: center;
  padding: 25px;
  background-color: #1e1e1e;
  color: #a0a0a0;
  font-size: 13px;
  border-top: 2px solid #000080;
}